{
  "presets": [
    ["env", {
      "modules": false,
      "loose": true,
      "targets": {
        "browsers": "ie >= 10"
      }
    }]
  ],
  "env": {
    "test": {
      "presets": [["env"]]
    }
  }
}
