{
  "env": {
    "build": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
        "external-helpers"
      ]
    },
    "test": {
      "presets": [
        "env"
      ]
    }
  }
}
