language: node_js
node_js:
  - 9
cache:
  directories:
    - ~/.cache
before_install:
 - curl -o- -L yarnpkg.com/install.sh | bash -s -- --version 1.9.4
 - export PATH=$HOME/.yarn/bin:$PATH
install:
  yarn install --frozen-lockfile
before_script:
  yarn run build
script:
  - "${SCRIPT}"
env:
  matrix:
  - SCRIPT="yarn run lint"
  - SCRIPT="yarn run test --coverage --colors"
  - SCRIPT="yarn run test:cypress:record $CYPRESS_RECORD_KEY"
  - SCRIPT="yarn run test:size"
