* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  color: #212121;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: 'Varela Round';
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin: 2rem 0 1rem 0;
}

a {
  text-decoration: none;
}

.container p {
  line-height: 1.5;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.placeholder {
  margin: 2em 0;
  text-align: justify;
  pointer-events: none;
  user-select: none;
}

.placeholder__word {
  color: #eee;
  background: #eee;
  border-radius: 3px;
  letter-spacing: 0.2em;
  font-size: 0.7em;
}

.header,
.footer {
  overflow: hidden;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  padding: 92px 24px;
  text-align: center;
  color: #fff;
  background: #00ab6c;
  background: -moz-linear-gradient(top, #00ab6c 0%, #13cc69 100%);
  background: -webkit-linear-gradient(top, #00ab6c 0%, #13cc69 100%);
  background: linear-gradient(to bottom, #00ab6c 0%, #13cc69 100%);
  align-items: center;
  justify-content: center;
}

.header::before {
  content: '';
  position: absolute;
  top: calc(100% - 16px);
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  height: 92px;
  transform: skewY(2deg);
}

.header::after {
  content: '';
  position: absolute;
  top: calc(100% - 16px);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  height: 92px;
  transform: skewY(-4deg);
}

.header__title {
  font-size: 3em;
  margin-bottom: 0.4em;
}

.header__subtitle {
  font-size: 1.2em;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.9);
}

.header__info {
  font-size: 1em;
  margin: 2em;
}

.footer__copyright {
  margin: 2em 0;
  color: rgba(255, 255, 255, 0.9);
}

.footer a {
  color: #fff;
}

.container {
  width: 100%;
  max-width: 768px;
  margin: 48px auto;
  padding: 16px;
}

.text-center {
  text-align: center;
}

.button {
  display: inline-block;
  min-width: 120px;
  margin: 4px;
  padding: 16px 24px;
  transition: all 0.16s;
  border: none;
  border-radius: 32px;
  font-size: 0.8em;
  color: #fff;
  background: #00ab6c;
  background: -moz-linear-gradient(left, #13cc69 0%, #00ab6c 100%);
  background: -webkit-linear-gradient(left, #13cc69 0%, #00ab6c 100%);
  background: linear-gradient(to right, #13cc69 0%, #00ab6c 100%);
  box-shadow: 0 2px 6px 0 rgba(0, 171, 108, 0.32);
  transition: all 300ms;
}

button.button {
  font: inherit;
  cursor: pointer;
  outline: none;
}

.button:hover,
button.button:hover {
  box-shadow: 0 2px 8px 0 rgba(0, 171, 108, 0.64);
}

.button.button--action {
  background: #7c4dff;
  background: -moz-linear-gradient(left, #7c4dff 0%, #6200ea 100%);
  background: -webkit-linear-gradient(left, #7c4dff 0%, #6200ea 100%);
  background: linear-gradient(to right, #7c4dff 0%, #6200ea 100%);
  box-shadow: 0 2px 6px 0 rgba(98, 0, 234, 0.32);
}

.button.button--action:hover {
  box-shadow: 0 2px 8px 0 rgba(98, 0, 234, 0.64);
}

.header .button,
.footer .button {
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
}

.header .button:hover,
.footer .button:hover {
  color: #00ab6c;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-size: 0.8em;
  font-weight: 300;
  margin: 1em;
  text-align: center;
  color: #666;
}

blockquote {
  font-family: Monaco, Consolas, Menlo, monospace;
  font-size: 0.8em;
  display: block;
  padding: 24px;
  color: #666;
  border-radius: 4px;
  background-color: #f7f7f7;
}

pre {
  font-family: Monaco, Consolas, Menlo, monospace;
  font-size: 0.8em;
  padding: 24px;
  margin: 2em 0;
  color: #fff;
  border-radius: 4px;
  background-color: #222;
}

@media (min-width: 900px) {
  .pull-left,
  .pull-right {
    width: 400px;
    margin: 24px;
  }

  .pull-right {
    float: right;
    margin-right: -92px;
  }

  .pull-left {
    float: left;
    margin-left: -92px;
  }
}
