* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;

  color: #212121;
  background-color: #fff;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: 'Varela Round';
}

h1 {
  font-size: 2em;

  margin-bottom: 2em;
}

h2 {
  font-size: 1.4em;

  margin-bottom: 1em;
}

a {
  text-decoration: none;

  color: #00bcd4;
}

p {
  line-height: 1.5;

  margin: 0 0 2em;

  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;

      -ms-hyphens: auto;
}
