button.button {
  font: inherit;
  cursor: pointer;
  outline: none;
  background-color: #13cc69;
}

button.button:hover {
  color: #fff;
  background-color: #00AB6C;
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-size: .8em;
  font-weight: 300;
  margin: 16px;
  text-align: center;
  color: #999;
}

blockquote {
  font-family: Monaco, Consolas, Menlo, monospace;
  font-size: .8em;
  display: block;
  padding: 24px;
  color: #777;
  border-radius: 2px;
  background-color: #f7f7f7;
}

blockquote p {
  margin-bottom: 1em;
}

@media (min-width: 900px) {
  .pull-left, .pull-right {
    width: 400px;
    margin: 24px;
  }

  .pull-right {
    float: right;
    margin-right: -92px;
  }

  .pull-left {
    float: left;
    margin-left: -92px;
  }
}
